@{
}
<h1>Add Cheese</h1>
<form method="post">
    <input name="name" type="text" placeholder="cheese name"/>
    <input name="description" type="text" placeholder="description"/>
    <input type="submit" value="Add Cheese" />
</form>

    <div> <font color ="red">@ViewBag.errormsg</font></div>
